extends layout

block content
	header
	.col-md-9
	.col-md-3.login
		img(src='./images/lo.png')
	.container
	script#metamorph-1-start(type='text/x-placeholder').
	script#metamorph-21-start(type='text/x-placeholder').
	.container.text-center
		form.form-signin(data-ember-action='2')
			h2.form-signin-heading Sign in
			small.text-muted Connect to Baer with your favorite social network
			br
			p
				a.btn.btn-primary.social-login-btn.social-facebook(href='/auth/facebook')
					i.fa.fa-facebook
				a.btn.btn-primary.social-login-btn.social-instagram(href='/auth/instagram')
					i.fa.fa-instagram
				a.btn.btn-primary.social-login-btn.social-google(href='/auth/google')
					i.fa.fa-google-plus
			br
			br
			small.text-muted Or sign in with your Baer account
			br
			br
		form(method='POST' action='/')
			input#ember360.ember-view.ember-text-field.form-control.login-input(name='email', placeholder='Email Address', type='text')
			input#ember361.ember-view.ember-text-field.form-control.login-input-pass(name='password', placeholder='Password', type='password')
			script#metamorph-22-start(type='text/x-placeholder').
			script#metamorph-22-end(type='text/x-placeholder').
			button.btn.btn-lg.btn-primary.btn-block.btn-center(type='submit', data-bindattr-3='3') Sign in/Sign Up
			br

