@import url(http://weloveiconfonts.com/api/?family=brandico|entypo|openwebicons|zocial);

img {
	vertical-align: middle;
	height: 70%;
	width: 70%;
	align-content: center;
	padding-right: 0;
}

header {
	height: 80px;
	position: relative;
	padding-top: 40px;
}

/*********************************
***      MAP + SHOP (HOMEPAGE)
**********************************/
html, body {
	height: 100%;
	width: 100%;
	padding: 0;
}

scroll {
	position: relative;
}
#space {
	text-align: right;

}

#homelogo {
	padding-top:55px;
	text-align: right;
	vertical-align: middle;
	align-content: center;
	padding-right: 0;
	height: 70%;
	width: 70%;
	position: relative;
	padding-right: 0;
	float: right;
}
#cart {
	height: 20%
	width: auto;
  	position: absolute;
  	left: 0;
  	bottom: 0;
}


img {
	vertical-align: middle;
	height: 70%;
	width: 70%;
	align-content: center;
	padding-right: 0;
}

#shop {
	height: 100%;
	width: 60%;
	margin: 0 auto;
	background-color: blue;
	position: relative;
}

#map {
	height: 400px;
    width: 100%;
    background-color: grey;
    position: relative;

      }
#controls {
	position: sabsolute;
}
#location {
	position: relative;

}

#go {
	position: relative;
}

.wrapper {
	position: relative
}

#contactus {
	display: inline-block;
	position: relative;
}
/*#checkout { 
	visibility: hidden;

	 }*/


/*#floating-panel {
				top: 10px;
				left: 65%;
				z-index: 5;
				height:90%;
				background-color: #fff;
				padding: 5px;
				border: 1px solid #999;
				text-align: center;
				font-family: 'Roboto','sans-serif';
				line-height: 30px;
				padding-left: 10px;
			 }*/

/****************************
***          LOGIN PAGE
*****************************/


/* brandico */
[class*="brandico-"]:before {
	font-family: 'brandico', sans-serif;
}

/* entypo */
[class*="entypo-"]:before {
	font-family: 'entypo', sans-serif;
}

/* openwebicons */
[class*="openwebicons-"]:before {
	font-family: 'OpenWeb Icons', sans-serif;
}

/* zocial */
[class*="zocial-"]:before {
	font-family: 'zocial', sans-serif;
}

.form-signin{
	max-width: 330px;
	padding: 15px;
	margin: 0 auto;
}


.login-input {
	margin-bottom: -1px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}
.login-input-pass {
	margin-bottom: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}


.signup-input {
	margin-bottom: -1px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.signup-input-confirm {
	margin-bottom: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}



.create-account {
	text-align: center;
	width: 100%;
	display: block;
}

.form-signin .form-control {
	position: relative;
	font-size: 16px;
	height: auto;
	padding: 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.btn-center{
	width: 50%;
	text-align: center;
	margin: inherit;
}

.social-login-btn {
	margin: 5px;
	width: 20%;
	font-size: 250%;
	padding: 0;
}

.social-login-more {
	width: 45%;
}

.social-google {
	background-color: #da573b;
	border-color: #be5238;
}
.social-google:hover{
	background-color: #be5238;
	border-color: #9b4631;
}

.social-instagram {
	background-color: #8a3ab9;
	border-color: #347b95;
}
.social-instagram:hover {
	background-color: #bc2a8d;
	border-color: #347b95;
}

.social-facebook {
	background-color: #4c699e;
	border-color: #47618d;
}
.social-facebook:hover {
	background-color: #47618d;
	border-color: #3c5173;
}
